table.tablesorter thead tr .headerSortUp:before {
    content: url(asc.gif);
    margin-left: -10px;
    margin-top: -5px
}

table.tablesorter thead tr .headerSortDown:before {
    content: url(desc.gif);
    margin-left: -10px;
    margin-top: -5px
}

th:before {
    content: url(bg.gif);
    margin-left: -10px;
}

th:hover {
    background-color: #f5f5f5;
    transition: background-color 1s;
    cursor: pointer;
}